    .fundo-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; // Garante que o modal fique na frente

        .modal {
            width: 80vw;
            max-width: 500px; // Limita a largura em telas maiores
            background-color: var(--secundaria);
            padding: 1.5rem;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

            .modal-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .titulo-componente {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                    color: var(--primaria);

                    .titulo {
                        // border-bottom: 1px solid var(--primaria);
                        max-width: calc(100% - 2.5rem);
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                }

                .alterar-senha-titulo {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 1rem;
                    color: var(--primaria);
                }

                p {
                    margin-top: 1rem;
                }

                .input {
                    width: 60vw;
                    padding: 0.5rem;
                    margin-top: 0.25rem;
                    // margin-bottom: 1rem;
                    border-bottom: 1px solid var(--secundaria);

                    // border: none;
                    border-radius: 1rem;
                    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
                    background-color: transparent;

                }

                // .input-senha {
                //     width: 100%;
                //     padding: 0.75rem;
                //     margin-top: 0.25rem;
                //     // margin-bottom: 1.5rem;
                //     border: none;
                //     border-radius: 0.5rem;
                //     box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
                //     font-size: 1rem;
                // }

                .botoes {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;
                    padding: 1rem 1rem 0rem 1rem;

                    .botao-cancelar,
                    .botao-salvar {
                        padding: 0.75rem 1.5rem;
                        border-radius: 1.5rem;
                        border: none;
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 1rem;

                        border: var(--primaria) 1px solid;



                        &:hover {
                            background-color: var(--secundaria);
                            color: var(--primaria);
                            border: var(--primaria) 1px solid;
                        }
                    }

                    .botao-salvar {
                        margin-left: 1rem;
                        background-color: var(--primaria);
                        color: var(--secundaria);

                        &:hover {
                            background-color: var(--primaria);
                            color: var(--secundaria);
                            // border: var(--primaria) 1px solid;
                        }
                    }

                }
            }
        }
    }