<div class="container">

  <app-loading *ngIf="isLoading"></app-loading>

  <section>
    <div class="config">
      <svg routerLink="/configuracoes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#e9e9e9">
        <path
          d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
      </svg>
    </div>
  </section>

  <section class="sugestoes-ia">
    <p class="sugestoes">Sugestões</p>
    <p class="artificial">IA</p>
  </section>

  <div class="ai-container">
    <!-- <h2>AI Goal Generator</h2> -->
    <textarea [(ngModel)]="userIdea" placeholder="Descreva o que você quer alcançar."></textarea>
    <button (click)="generate()" [disabled]="loading">
      {{ loading ? 'Zerando...' : 'Gerar' }}
    </button>

    <div class="results" *ngIf="resultFetched">
      <pre class="pre">
        <h2 style="margin-bottom: 1rem;">Sugestão 1</h2>
        <p><span style="font-weight: bold;">Título: </span>{{result[0].title}} </p>
        <p><span style="font-weight: bold;">Prazo: </span>{{result[0].deadline}} </p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 1: </span>{{result[0].miniGoals[0].title}}</p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 2: </span>{{result[0].miniGoals[1].title}}</p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 3: </span>{{result[0].miniGoals[2].title}}</p>
      <button (click)="addsuggest1()" class="botao-meta">Criar meta 1</button>
      
      </pre>


      <pre style="margin-top: 4rem;" class="pre">
        <h2 style="margin-bottom: 1rem;">Sugestão 2</h2>
        <p><span style="font-weight: bold;">Título: </span>{{result[1].title}} </p>
        <p><span style="font-weight: bold;">Prazo: </span>{{result[1].deadline}} </p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 1: </span>{{result[1].miniGoals[0].title}}</p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 2: </span>{{result[1].miniGoals[1].title}}</p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 3: </span>{{result[1].miniGoals[2].title}}</p>
        <button (click)="addsuggest2()" class="botao-meta">Criar meta 2</button>
      </pre>



      <pre style="margin-top: 4rem;" class="pre">
        <h2 style="margin-bottom: 1rem;">Sugestão 3</h2>
        <p><span style="font-weight: bold;">Título: </span>{{result[2].title}} </p>
        <p><span style="font-weight: bold;">Prazo: </span>{{result[2].deadline}} </p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 1: </span>{{result[2].miniGoals[0].title}}</p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 2: </span>{{result[2].miniGoals[1].title}}</p>
        <p style="border-top: 1px solid var(--primaria); margin-top: 0.5rem; padding-top: 0.5rem;"><span style="font-weight: bold;">Submeta 3: </span>{{result[2].miniGoals[2].title}}</p>
        <button (click)="addsuggest3()" class="botao-meta">Criar meta 3</button>
      
      </pre>

    </div>




    <!-- <div class="chat-container">
    <div class="mensagens">
      <div *ngFor="let msg of conversa" class="mensagem" [ngClass]="'mensagem-' + msg.autor">
        <p>{{ msg.texto }}</p>
      </div>
    </div>

    <div *ngIf="perguntaAtualIndex < perguntas.length - 1" class="input-area">
      <input
        type="text"
        [(ngModel)]="respostaUsuario"
        (keyup.enter)="enviarResposta()"
        placeholder="Digite sua resposta..."
      >
      <button (click)="enviarResposta()">Enviar</button>
    </div>
  </div>

  <section *ngIf="gerandoMetas || metasSugeridas.length > 0" class="resultado-ia">
    <h2>Sugestões de Metas</h2>
    <div *ngIf="gerandoMetas" class="loader">
      <p>Analisando suas respostas...</p>
      <div class="spinner"></div>
    </div>

    <div *ngIf="!gerandoMetas && metasSugeridas.length > 0" class="lista-metas-sugeridas">
      <div *ngFor="let meta of metasSugeridas" class="meta-sugerida">
        <span>{{ meta }}</span>
        <button (click)="adicionarMeta(meta)">+</button>
      </div>
    </div>
  </section> -->
  </div>

  <section>
    <app-modal-message [type]="modalType" [message]="modalMessage" [show]="showModal" (close)="closeModal()">
    </app-modal-message>
  </section>