.meta {
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 80vw;
    // height: 400px;
    overflow-y: scroll;

    .voltar-metas-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        color: var(--primaria);
        margin-bottom: 0.5rem;
    }

    .titulo-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        // margin-top: 0.5rem;
        font-size: 1rem;
        color: var(--primaria);

        .titulo {
            border-bottom: 1px solid var(--primaria);
            max-width: calc(100% - 2.5rem);
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }


    p {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .truncate {
        // margin-left: 1rem;
        max-width: calc(100% - 2rem);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
    }



    .progres-status-box {
        display: flex;
        width: 80%;
        // flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 2rem;

        .progress-circle {

            margin-top: 1rem;
            position: relative;
            width: 5rem;
            height: 5rem;

            &__svg {
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
            }

            &__bg {
                fill: none;
                stroke: var(--primaria);
                // stroke-linecap: round;
                // stroke-dashoffset: inherit;
                stroke-width: 8;
            }

            &__fill {
                fill: none;
                stroke: var(--secundaria); // Green color for progress
                stroke-width: 8;
                transition: stroke-dashoffset 0.5s ease-in-out;
            }

            &__content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            &__percentage {
                font-size: 1rem;
                font-weight: bold;
                color: var(--primaria);
                // stroke-linecap: round;
                line-height: 1;
            }

            &__label {
                font-size: 0.9rem;
                color: #666;
                margin-top: 5px;
            }
        }

        .status {
            margin-left: 2rem;
        }

    }

    .details {
        margin-top: 2rem;
    }


    .todas-metas {
        margin-top: 0.5rem;
        color: var(--secundaria);
        cursor: pointer;
        border-radius: 2rem;
        background-color: var(--primaria);
        color: var(--secundaria);
        border: 1px solid var(--secundaria);
        padding: 0.25rem 0.75rem;
    }
}

.sub-metas {
    margin-top: 2rem;

    h2 {
        margin-bottom: 1rem;
        color: var(--secundaria);
    }

    .caixa-sub-metas {
        background-color: rgba(255, 255, 255, 0.25);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 1rem;
        width: 80vw;
        height: 200px;
        overflow-y: scroll;

        .linha-sub-meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .texto-sub-meta {
                max-width: 75%; // ou ajuste conforme necessário
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .toggle-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            .toggle-switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 21px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #848484;
                    /* Cor do toggle desligado */
                    transition: .4s;
                    border-radius: 10px;

                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 3px;
                    bottom: 3px;
                    background-color: white;
                    /* Cor da bolinha */
                    transition: .4s;
                    border-radius: 50%;
                }

                input:checked+.slider {
                    background-color: var(--primaria);
                    /* Cor do toggle ligado */
                }

                input:checked+.slider:before {
                    transform: translateX(18px);
                }
            }
        }

    }

    .criar-submeta {
        margin-top: 0.5rem;
        color: var(--secundaria);
        cursor: pointer;
        border-radius: 2rem;
        background-color: var(--primaria);
        color: var(--secundaria);
        border: 1px solid var(--secundaria);
        padding: 0.25rem 0.75rem;
    }
}