<div class="container">

    <!-- <section>
        <div class="icone-zera-meta">
            <svg routerLink="/menu" width="60" height="60" viewBox="0 0 48 48" fill="none">
                <circle cx="24" cy="32" r="10" fill="#0e3553" />
                <circle cx="24" cy="32" r="7" fill="#e9e9e9" />
                <polygon points="24,8 18,24 30,24" fill="#0e3553" />
            </svg>
        </div>
    </section> -->

    <section>
        <div class="config">
            <svg routerLink="/configuracoes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#e9e9e9">
                <path
                    d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
            </svg>
        </div>
    </section>

    <section *ngIf="!showModal" class="meta">

        <section routerLink="/metas" class="voltar-metas-box">
            <div class="status-box">
                <p class="cor-status" [ngClass]="{
                'status-novo': status === 'Novo', 
                'status-em-andamento': status === 'Em andamento', 
                'status-concluido': status === 'Concluído',
                'status-pausado': status === 'Pausado'
                }">{{status}}</p>

                <div *ngIf="status === 'Concluído'" class="trophy-icon">
                    ⭐
                </div>
            </div>


            <div class="voltar-metas">
                <div>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <rect width="48" height="48" rx="24" fill="" />
                        <path d="M30 12L18 24L30 36" stroke="#0e3553" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <!-- <div>
                    <p>metas</p>
                </div> -->
            </div>
        </section>

        <div class="titulo-meta">
            <h2 class="titulo">{{titulo}}</h2>

            <svg (click)="editGoal()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
            </svg>
        </div>



        <div class="progres-status-box">
            <div class="progress-circle">
                <div *ngIf="itensCarregados" class="progress-circle__content">
                    <div class="progress-circle__percentage">{{perCompleted}}%</div>
                    <!-- <div class="progress-circle__label">Completed</div> -->
                </div>
                <svg class="progress-circle__svg" viewBox="0 0 100 100">
                    <circle class="progress-circle__bg" cx="50" cy="50" r="45"></circle>
                    <!-- <circle class="progress-circle__fill" cx="50" cy="50" r="45" stroke-dasharray="283" [style.stroke-dashoffset]="283 - (283 * perCompleted / 100)"></circle> -->
                    <circle class="progress-circle__fill" cx="50" cy="50" r="45" stroke-dasharray="283"
                        [style.stroke-dashoffset]="strokeDashOffset"></circle>

                </svg>
            </div>
            <div class="status">

                <!-- <div class="cor-status" [ngClass]="{
                'status-novo': status === 'Novo', 
                'status-em-andamento': status === 'Em andamento', 
                'status-concluido': status === 'Concluído',
                'status-pausado': status === 'Pausado'
                }">
                </div> -->
                <li>{{categoria}}</li>
                <li>{{prazo}}</li>
                <p class="prioridade" [ngClass]="{
                'prioridade-baixa': prioridade === 'Baixa', 
                'prioridade-media': prioridade === 'Média', 
                'prioridade-alta': prioridade === 'Alta'
                }">{{prioridade}}</p>
            </div>
        </div>

        <!-- <div class="details">
            <h3>Detalhes...</h3>
        </div> -->


        <!-- <p class="truncate">Categoria: {{categoria}}</p>
        <p class="truncate">Prazo: {{prazo}}</p> -->
        <p class="truncate">Descricao: {{descricao}}</p>


        <!-- <h4 class="todas-metas" routerLink="/metas">todas metas</h4> -->

    </section>

    <section *ngIf="!showModal" class="sub-metas">
        <div class="caixa-sub-metas">
            <h2 style="text-align: center;">Sub-metas</h2>

            <div *ngIf="miniGoals.length === 0">
                <h4>Nenhuma sub-meta ainda! Que tal, criar a primeira?</h4>
            </div>
            <div class="linha-sub-meta" *ngFor="let mini of miniGoals; let i = index">
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input (change)="onToggleMiniGoal(mini, i)" type="checkbox"
                            [(ngModel)]="miniGoals[i].concluido" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <h4 class="texto-sub-meta" [ngClass]="{'texto-sub-meta-check-true': mini.concluido}">{{ mini.titulo }}
                </h4>
                <svg (click)="editMiniGoal(miniGoals[i])" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                </svg>
            </div>
        </div>

        <div class="new-input-box">
            <input [(ngModel)]="inputNewMiniGoalModel" type="text" placeholder="nova sub-meta"
                class="input-nova-submeta">
            <p (click)="addMinigoal(inputNewMiniGoalModel)" class="criar-submeta">criar</p>
        </div>
        <p (click)="aiSuggestion()" class="ia">Sugestão IA</p>
    </section>

    <section *ngIf="showModal" class="modal-content">
        <div>
            <div class="titulo-meta">
                <h2>Editar meta</h2>
                <h3 (click)="closeModal()">X</h3>
            </div>
            <p>Título</p>
            <input [(ngModel)]="titulo" class="input" value="{{ titulo }}">
            <p>Prazo</p>
            <input [(ngModel)]="prazo" class="input" value="{{ prazo }}">
            <p>Categoria</p>
            <select [(ngModel)]="categoria" class="input">
                <option *ngFor="let categoria of categoriaOptions" [value]="categoria">{{ categoria }}</option>
            </select>
            <p>Prioridade</p>
            <select [(ngModel)]="prioridade" class="input">
                <option *ngFor="let prioridade of prioridadeOptions" [value]="prioridade">{{ prioridade }}</option>
            </select>
            <p>Status</p>
            <select [(ngModel)]="status" class="input">
                <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
            </select>
            <p>Progresso</p>
            <div class="progresso-container">
                <input [(ngModel)]="progresso" type="range" min="0" max="100" class="progresso-slider"
                    [ngStyle]="{'background': 'linear-gradient(to right, var(--primaria) ' + progresso + '%, #ddd ' + progresso + '%)'}">
                <span class="progresso-valor">{{ progresso }}%</span>
            </div>

            <!-- <input type="range" min="0" max="100" value="10"> -->

            <p>Descrição</p>
            <textarea [(ngModel)]="descricao" class="input" placeholder=""></textarea>

            <div class="botoes-editar-submeta">
                <button (click)="desejaExcluirMeta()" class="botao-excluir">Excluir meta</button>
                <button (click)="salvarEdicaoMeta()" class="botao-salvar">Salvar</button>
            </div>
            <!-- <div class="div-excluir">
                <button (click)="closeModal()" class="botao-excluir">Excluir meta</button>

            </div> -->

        </div>
    </section>

    <section *ngIf="showModalMini" class="mini">
        <div>
            <h2 style="margin-bottom: 1rem;">Editar sub-meta</h2>
            <button (click)="closeMiniModal()" class="botao-fechar-mini">X</button>
            <input type="text" placeholder="sub-meta" class="input-editar-submeta" [(ngModel)]="minigoalToEdit.titulo">
            <div class="botoes-editar-submeta">
                <button (click)="excluirSubmeta()" class="botao-excluir">Excluir</button>

                <button (click)="salvarEdicaoMiniGoal()" class="botao-salvar">Salvar</button>

            </div>

        </div>
    </section>

    <section *ngIf="showModalDeleteGoal" class="miniDelete">

        <h4 style="margin-bottom: 2rem; margin-right: 2rem;">Tem certeza que deseja deletar esta meta?</h4>
        <button (click)="closeMiniModalDelete()" class="botao-fechar-mini">X</button>
        <div class="botoes-editar-submeta">
            <button (click)="closeMiniModalDelete()" class="botao-nao">Não</button>
            <button (click)="excluirMeta()" class="botao-salvar">Sim</button>
            <!-- <p class="botao-nao">Não</p> -->
        </div>

    </section>

    <section *ngIf="showAi" class="ai">
        <div>
            <h2>Em breve!</h2>
            <p>Deixe a inteligência artificial sugerir sub-metas para você!</p>
            <button (click)="closeAiSuggestion()" class="botao-fechar-ai">X</button>
        </div>
    </section>



    <!-- <section *ngIf="showModal" class="modal-background">
        <div>
            <div *ngIf="showModal" class="modal-content">
                <h2>Editar sub-meta</h2>
                <input type="text" placeholder="Editar sub-meta" class="input-editar-submeta">
                <div class="botoes-editar-submeta">
                    <button (click)="closeModal()" class="botao-cancelar">Cancelar</button>
                    <button class="botao-salvar">Salvar</button>
                </div>
            </div>
        </div>
    </section> -->
</div>