.meta {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.25);
    overflow-y: scroll;

    .voltar-metas-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        color: var(--primaria);
        margin-bottom: 0.5rem;
        width: 100%;

        .voltar-metas {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            cursor: pointer;

            p {
                margin-top: 0.2rem;
            }

        }

        .status-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;

            .cor-status {
                background-color: var(--primaria);
                color: var(--secundaria);
                padding: 0.25rem 0.75rem;
                border-radius: 1rem;
                font-weight: bold;
                margin-right: 0.25rem;



                &.status-novo {
                    background-color: #e74c3c;
                    /* Vermelho */
                }

                &.status-em-andamento {
                    background-color: #f1c40f;
                    /* Amarelo */
                }

                &.status-concluido {
                    background-color: #2ecc71;
                    /* Verde */
                }

                &.status-pausado {
                    background-color: #95a5a6;
                    /* Cinza */
                }
            }

            .trophy-icon {
                font-size: 1.5rem;
            }

        }

    }

    .titulo-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        // margin-top: 0.5rem;
        font-size: 1rem;
        color: var(--primaria);

        .titulo {
            border-bottom: 1px solid var(--primaria);
            max-width: calc(100% - 2.5rem);
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }


    p {
        font-weight: bold;
    }





    .progres-status-box {
        display: flex;
        width: 80%;
        // flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: auto;

        .progress-circle {

            margin-top: 1rem;
            position: relative;
            width: 5rem;
            height: 5rem;

            &__svg {
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
            }

            &__bg {
                fill: none;
                stroke: var(--primaria);
                // stroke-linecap: round;
                // stroke-dashoffset: inherit;
                stroke-width: 8;
            }

            &__fill {
                fill: none;
                stroke: var(--secundaria); // Green color for progress
                stroke-width: 8;
                transition: stroke-dashoffset 0.5s ease-in-out;
            }

            &__content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            &__percentage {
                font-size: 1rem;
                font-weight: bold;
                color: var(--primaria);
                // stroke-linecap: round;
                line-height: 1;
            }

            &__label {
                font-size: 0.9rem;
                color: #666;
                margin-top: 5px;
            }
        }

        .status {
            margin-left: 2rem;
            font-weight: bold;


            p {
                font-weight: bold;
            }

            .prioridade {
                background-color: var(--primaria);
                color: var(--secundaria);
                padding: 0.25rem 0.75rem;
                border-radius: 1rem;
                // font-weight: normal;
                margin-top: 0.5rem;
                width: fit-content;

                &.prioridade-alta {
                    background-color: #fcbeb7;
                    color: #e74c3c;
                    /* Vermelho */
                }

                &.prioridade-media {
                    background-color: #f8eab4;
                    color: #f1c40f;
                    // background-color:  #f1c40f;
                    /* Amarelo */
                }

                &.prioridade-baixa {
                    background-color: #d3ffe5;
                    color: #2ecc71;
                    /* Verde */
                }

            }

            // .prioridade {

            //     &.prioridade-alta {
            //         border-bottom: 2px solid #e74c3c;
            //         /* Vermelho */
            //     }

            //     &.prioridade-media {
            //         border-bottom: 2px solid  #f1c40f;
            //         // background-color:  #f1c40f;
            //         /* Amarelo */
            //     }

            //     &.prioridade-baixa {
            //         border-bottom: 2px solid #2ecc71;
            //         /* Verde */
            //     }

            // }

            // .cor-status {
            //     background-color: var(--primaria);
            //     color: var(--secundaria);
            //     padding: 0.25rem 0.75rem;
            //     border-radius: 0.5rem;
            //     font-weight: bold;
            //     margin-bottom: 0.5rem;               

            //     &.status-novo {
            //         background-color: #e74c3c;
            //         /* Vermelho */
            //     }

            //     &.status-em-andamento {
            //         background-color: #f1c40f;
            //         /* Amarelo */
            //     }

            //     &.status-concluido {
            //         background-color: #2ecc71;
            //         /* Verde */
            //     }

            //     &.status-pausado {
            //         background-color: #95a5a6;
            //         /* Cinza */
            //     }
            // }

        }

    }

    .truncate {
        // margin-left: 1rem;
        max-width: calc(100% - 2rem);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .details {
        margin-top: 2rem;
    }


    .todas-metas {
        margin-top: 0.5rem;
        color: var(--secundaria);
        cursor: pointer;
        border-radius: 2rem;
        background-color: var(--primaria);
        color: var(--secundaria);
        border: 1px solid var(--secundaria);
        padding: 0.25rem 0.75rem;
    }
}

.sub-metas {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin-top: 1rem;

    h2 {
        margin-bottom: 1rem;
        color: var(--primaria);
    }

    .caixa-sub-metas {
        background-color: rgba(255, 255, 255, 0.25);
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 1rem;
        width: 80vw;
        max-height: 160px;
        height: fit-content;
        overflow-y: scroll;

        .linha-sub-meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .texto-sub-meta {
                max-width: 65%; // ou ajuste conforme necessário
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.texto-sub-meta-check-true {
                    text-decoration-line: line-through;
                    text-decoration-color: currentColor;
                    text-decoration-thickness: 3px;
                    color: var(--secundaria);
                }
            }

        }

        .toggle-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            .toggle-switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 22px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--secundaria);
                    /* Cor do toggle desligado */
                    transition: .4s;
                    border-radius: 10px;

                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 3px;
                    bottom: 3px;
                    background-color: var(--primaria);
                    /* Cor da bolinha */
                    transition: .4s;
                    border-radius: 50%;
                }

                input:checked+.slider {
                    background-color: var(--primaria);
                    /* Cor do toggle ligado */
                }

                input:checked+.slider:before {
                    transform: translateX(18px);
                    background-color: var(--secundaria);

                }
            }
        }

    }

    .new-input-box {

        margin-top: 1rem;
        display: flex;
        width: 100%;
        // font-weight: bold;
        cursor: pointer;

        .input-nova-submeta {
            padding: 0.5rem;
            border-radius: 0.5rem 0 0 0.5rem;
            // font-weight: bold;
            border: 1px solid var(--primaria);
            width: 100%;
            background-color: rgba(255, 255, 255, 0.15);
            color: var(--secundaria);

            &::placeholder {
                color: var(--secundaria);
            }
        }

        .criar-submeta {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secundaria);
            background-color: var(--primaria);
            // border: 1px solid var(--secundaria);
            border-radius: 0 .5rem 0.5rem 0;
            width: 5rem;
        }

    }

    .ia {
        font-weight: bold;
        margin-top: 1rem;
        color: var(--secundaria);
        cursor: pointer;
    }

}

.modal-content {
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 80vw;
    // height: 1000px;
    overflow-y: scroll;

    .titulo-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: var(--primaria);

        h3 {
            cursor: pointer;
        }
    }

    .input {
        background-color: rgba(255, 255, 255, 0.15);
        width: 65vw;
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid var(--primaria);
        margin-bottom: 0.5rem;
    }

    .input-editar-submeta {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--primaria);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .progresso-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .progresso-slider {
        // Esta é a barra do slider
        -webkit-appearance: none;
        /* Remove estilos padrão para aplicar os nossos */
        appearance: none;
        flex: 1;
        // width: 100%; /* Largura total do slider */
        margin-right: 1rem;
        margin-bottom: 1rem;
        height: 0.5rem;
        /* Altura da barra */
        border-radius: 1rem;
        outline: none;
        transition: opacity .2s;



        /* Estilo da bolinha (thumb) para Chrome, Safari, Edge */
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            /* Largura da bolinha */
            height: 20px;
            /* Altura da bolinha */
            border-radius: 50%;
            /* Deixa a bolinha redonda */
            background: var(--primaria);
            /* Cor da bolinha */
            cursor: pointer;
        }

        /* Estilo da bolinha (thumb) para Firefox */
        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--primaria);
            cursor: pointer;
            border: none;
        }
    }

    .botoes-editar-submeta {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;


        .botao-excluir,
        .botao-salvar {
            padding: 0.75rem 1.5rem;
            border-radius: 1.5rem;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }

        .botao-salvar {
            background-color: var(--primaria);
            color: var(--secundaria);
        }

        .botao-excluir {
            background-color: #e74c3c;
            color: var(--secundaria);
        }


    }







}

.mini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 20rem;
    background-color: var(--secundaria);
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);

    width: 80vw;
    // height: 20vh;
    border-radius: 1rem;
    padding: 1.5rem;



    .botao-fechar-mini {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: transparent;
        color: var(--primaria);
        border: none;
        // border-radius: 0.5rem;
        // padding: 0.5rem 1rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .input-editar-submeta {
        margin-bottom: 2rem;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .botoes-editar-submeta {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;


        .botao-excluir,
        .botao-salvar {
            padding: 0.75rem 1.5rem;
            border-radius: 1.5rem;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }

        .botao-salvar {
            background-color: var(--primaria);
            color: var(--secundaria);
        }

        .botao-excluir {
            background-color: #e74c3c;
            color: var(--secundaria);
        }


    }

    // .div-excluir {
    //     display: flex;
    //     width: 100%;
    //     align-items: center;
    //     justify-content: center;

    //     .botao-excluir {
    //         background-color: #e74c3c;
    //         padding: 0.75rem 1.5rem;
    //         border-radius: 0.5rem;
    //         border: none;
    //         cursor: pointer;
    //         color: var(--secundaria);
    //         margin-top: 1rem;
    //     }
    // }
}

.miniDelete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 20rem;
    background-color: var(--secundaria);
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);

    width: 80vw;
    // height: 20vh;
    border-radius: 1rem;
    padding: 1.5rem;

    .input-editar-submeta {
        margin-bottom: 2rem;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .botao-fechar-mini {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: transparent;
        color: var(--primaria);
        border: none;
        // border-radius: 0.5rem;
        // padding: 0.5rem 1rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .botoes-editar-submeta {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        .botao-nao,
        .botao-salvar {
            padding: 0.75rem 1.5rem;
            border-radius: 2rem;
            border: none;
            cursor: pointer;
            font-weight: bold;

        }

        .botao-salvar {
            background-color: var(--primaria);
            color: var(--secundaria);
        }

        .botao-nao {
            border: 1px solid var(--primaria);
            background-color: var(--secundaria);
        }
    }

}

.ai {
    position: fixed;
    top: 20rem;
    background-color: var(--secundaria);
    width: 80vw;
    // height: 20vh;
    border-radius: 1rem;
    padding: 1rem;

    .botao-fechar-ai {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        color: var(--primaria);
        border: none;
        // border-radius: 0.5rem;
        // padding: 0.5rem 1rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
    }

}

// .modal-background{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     // background-color: rgba(0, 0, 0, 0.5);
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     z-index: 1000;

//     .modal-content {
//             background-color: rgba(255, 255, 255, 0.25);
// ;
//         padding: 2rem;
//         border-radius: 1rem;
//         width: 80vw;
//         max-width: 400px;
//         color: var(--primaria);
//         position: relative;

//         .input-editar-submeta {
//             width: 100%;
//             padding: 0.5rem;
//             border-radius: 0.5rem;
//             border: 1px solid var(--primaria);
//             margin-top: 1rem;
//             margin-bottom: 1rem;
//         }

//         .botoes-editar-submeta {
//             display: flex;
//             justify-content: flex-end;

//             .botao-cancelar, .botao-salvar {
//                 padding: 0.5rem 1rem;
//                 border-radius: 0.5rem;
//                 border: none;
//                 cursor: pointer;
//                 margin-left: 1rem;
//             }

//             .botao-cancelar {
//                 background-color: var(--primaria);
//                 color: var(--secundaria);
//             }

//             .botao-salvar {
//                 background-color: var(--secundaria);
//                 color: var(--primaria);
//                 border: 1px solid var(--primaria);
//             }
//         }
//     }
// }