<div class="container">

    <!-- <app-loading *ngIf="isLoading"></app-loading> -->

    <section>
        <div class="icone-zera-meta">
            <svg routerLink="/menu" width="60" height="60" viewBox="0 0 48 48" fill="none">
                <circle cx="24" cy="32" r="10" fill="#0e3553" />
                <circle cx="24" cy="32" r="7" fill="#e9e9e9" />
                <polygon points="24,8 18,24 30,24" fill="#0e3553" />
            </svg>
        </div>
    </section>

    <section>
        <div class="config">
            <svg routerLink="/configuracoes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#e9e9e9">
                <path
                    d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
            </svg>
        </div>
    </section>

    <section class="meta">
        <h2 class="titulo">{{titulo}}</h2>
        <p><strong>Categoria:</strong> {{categoria}}</p>
        <p><strong>Descrição:</strong> {{descricao}}</p>
        <p><strong>Prazo:</strong> {{prazo}}</p>
        <p><strong>Status:</strong> {{status}}</p>
        <p><strong>Progresso:</strong> {{progresso}}%</p>   
        
        <h4 class="todas-metas" routerLink="/metas">todas metas</h4>

    </section>

    <section class="sub-metas">
        <h2>Sub-metas</h2>
        <div class="caixa-sub-metas">
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Abrir conta em corretora</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Estudar curso do youtube</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Fazer primeiro investimento</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Montar carteira</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Comprar ações</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Poupar 20% salário</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Abrir conta em corretora</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Abrir conta em corretora</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="linha-sub-meta">
                <h4 class="texto-sub-meta">Abrir conta em corretora</h4>
                <div class="toggle-box">
                    <label class="toggle-switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <h4 class="criar-submeta">criar +</h4>
    </section>
</div>