<div class="container">
  <section>
    <div class="voltar">
      <svg routerLink="/boas-vindas" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" rx="24" fill=""/>
        <path d="M30 12L18 24L30 36" stroke="#e9e9e9" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </section>

  <section>
    <div class="login">
      <h1>Login</h1>
    </div>
  </section>

  <section>
    <div class="formulario">
      <form action="">
        <p>E-mail</p>
        <input class="input" type="email" placeholder="Digite seu e-mail" required>
        <p style="margin-top: 1rem;">Senha</p>
        <input class="input" type="password" placeholder="Digite sua senha" required>
      </form>
        <button class="redefinir-senha" routerLink="/redefinir-senha">Esqueci minha senha</button>
        <div class="div-google-facebook">                    
          <button class="google">
            <img class="icone-google" src="/assets/icone-google.png" alt="Ícone Google">
            Entre com o Google
          </button>  
            <button class="google">
              <img class="icone-facebook" src="/assets/icone-facebook31.png" alt="Ícone Google">
              Entre com o Facebook
          </button>   
        </div>
    </div>
  </section>

  <section>
    <button class="botao" routerLink="/metas">
      <p>Entrar</p>
    </button>
  </section>
</div>
