<div class="container">

  <app-loading *ngIf="isLoading"></app-loading>

  <!-- <section>
    <div class="voltar">
      <svg routerLink="/boas-vindas" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" rx="24" fill=""/>
        <path d="M30 12L18 24L30 36" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </section>
  
  <section>
    <div class="config">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
        </svg>
    </div>
  </section> -->

  <!-- <section>
    <div class="login">
      <h1>Login</h1>
    </div>
  </section> -->

  <section>
    
    <div class="formulario">      
      <h2 class="login">Login</h2>
      <form action="">
        <p>E-mail</p>
        <input [(ngModel)]="email" name="email" class="input" type="email" placeholder="Digite seu e-mail" required>
        <p style="margin-top: 1rem;">Senha</p>
        <input [(ngModel)]="senha" name="senha" (keyup.enter)="handleLogin(email, senha)" class="input" type="password" placeholder="Digite sua senha" required>
      </form>
      <div>
        <button class="redefinir-senha" routerLink="/redefinir-senha">Esqueci minha senha</button>
      </div>
      <div>
        <button class="redefinir-senha" routerLink="/cadastro">Criar conta</button>
      </div>
      
      <div class="div-google-facebook">                    
        <button class="google">
          <img class="icone-google" src="/assets/icone-google.png" alt="Ícone Google">
          Entre com o Google
        </button>  
          <button class="google">
            <img class="icone-facebook" src="/assets/icone-facebook31.png" alt="Ícone Google">
            Entre com o Facebook
        </button>   
      </div>
      
      <button (click)="handleLogin(email, senha)" class="botao">
        <h2>Entrar</h2>
      </button>
    </div>
  </section>
<!-- 
  <section>
    <button (click)="handleLogin(email, senha)" class="botao">
      <h2>Entrar</h2>
    </button>
  </section> -->

  <section>
    <!-- <button (click)="openSuccess()">Show Success</button>
    <button (click)="openError()">Show Error</button> -->

    <app-modal-message
      [type]="modalType"
      [message]="modalMessage"
      [show]="showModal"
      (close)="closeModal()">
    </app-modal-message>
  </section> 

</div>
