<div class="container">
    <!-- <section>
        <div class="voltar">
        <svg routerLink="/boas-vindas" width="48" height="48" viewBox="0 0 48 48" fill="none">
            <rect width="48" height="48" rx="24" fill=""/>
            <path d="M30 12L18 24L30 36" stroke="#e9e9e9" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </div>
    </section> -->

  <section>
    <div class="login">
      <h1>Criar conta</h1>
    </div>
  </section>

  <section>
    <div class="formulario">
      <form action="">
        <p>Nome</p>
        <input (keyup)="verificaPreenchimentoNome()" class="input" [(ngModel)]="novaUsuario.nome" name="inputName" type="name" placeholder="Digite seu nome">
        <p *ngIf="!nomeValido" style="margin-top: 0.25rem; color: red;font-size: 0.75rem;">nome inválido (apenas letras, mínimo 2 caracteres).</p>

        <p style="margin-top: 1rem;">E-mail</p>
        <input (keyup)="verificaPreenchimentoEmail()" class="input" [(ngModel)]="novaUsuario.email" name="inputEmail" type="email" placeholder="Digite seu e-mail">
        <p *ngIf="!emailValido" style="margin-top: 0.25rem; color: red;font-size: 0.75rem;">email inválido (deve conter @ e .com, exemplo@exemplo.com).</p>

        <p style="margin-top: 1rem;">Senha</p>
        <input (keyup)="verificaPreenchimentoSenha()" class="input" [(ngModel)]="novaUsuario.senha" name="inputSenha" type="password" placeholder="Digite sua senha">
        <p *ngIf="!senhaValida" style="margin-top: 0.25rem; color: red;font-size: 0.75rem;">senha inválida (mínimo 8 caracteres, 1 caractere especial, usar letras e números).</p>
        
        <p style="margin-top: 1rem;">Repita a senha</p>
        <input (keyup)="verificaSeSaoIguais()" class="input" [(ngModel)]="novaUsuario.repeteSenha" name="inputSenhaRepetida" type="password" placeholder="Digite novamente a senha">
        <p *ngIf="!repeteSenhaValida" style="margin-top: 0.25rem; color: red;font-size: 0.75rem;">senha diferente</p>

        <div>
          <button class="ir-login" routerLink="/login">Já possuo conta , fazer login</button>
        </div>
        
      </form>
        
        <div class="div-google-facebook">                    
          <button class="google">
            <img class="icone-google" src="/assets/icone-google.png" alt="Ícone Google">
            Entre com o Google
          </button>  
            <button class="google">
              <img class="icone-facebook" src="/assets/icone-facebook31.png" alt="Ícone Google">
              Entre com o Facebook
          </button>   
        </div>
    </div>
  </section>

  <section>
    <button (click)="cadastrar()" class="botao">
      <p>Cadastrar</p>
    </button>
  </section>

  <section>
    <!-- <button (click)="openSuccess()">Show Success</button>
    <button (click)="openError()">Show Error</button> -->

    <app-modal-message
      [type]="modalType"
      [message]="modalMessage"
      [show]="showModal"
      (close)="closeModal()">
    </app-modal-message>
  </section>

</div>
