.login {
    margin-bottom: 0.5rem;
}

.formulario {
    position: fixed;
    top: 3rem;
    width: 80vw;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);


    .input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.25rem;
        // margin-bottom: 1rem;
        border-bottom: 1px solid var(--secundaria);

        // border: none;
        border-radius: 01rem;
        box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
        background-color: transparent;


    }

    .ir-login {
        border: none;
        color: var(--primaria);
        // text-decoration: underline;
        cursor: pointer;
        margin-top: 0.75rem;
        background-color: transparent;
        // font-weight: bold;

    }

    .div-google-facebook {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .icone-google,
        .icone-facebook {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        .google,
        .facebook {
            background-color: rgba(255, 255, 255, 0.25);


            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0.5rem;
            margin-top: 0.5rem;
            border: var(--primaria) 1px solid;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            color: var(--primaria);
            // background-color: white;
        }

    }

}

.botao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .button {
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 2rem;
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
        border: none;
        font-size: 0.75rem;
        background-color: var(--primaria);
        color: var(--secundaria);
        margin-top: 1rem;
        align-items: center;
    }

    // &:hover {
    //     background-color: var(--secundaria);
    //     color: var(--primaria);
    //     border: var(--primaria) 1px solid;
    // }

}