.container {

    .redefinir-box {
        position: fixed;
        top: 3rem;
        // margin-top: 2rem;
        width: 80vw;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.25);

        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);


        .titulo-componente {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            color: var(--primaria);

            .titulo {
                // border-bottom: 1px solid var(--primaria);
                max-width: calc(100% - 2.5rem);
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }

        .input {
            width: 60vw;
            padding: 0.5rem;
            margin-top: 0.25rem;
            // margin-bottom: 1rem;
            border-bottom: 1px solid var(--secundaria);

            // border: none;
            border-radius: 1rem;
            box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
            background-color: transparent;

        }

        .botao {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .button {
                width: fit-content;
                padding: 1rem 2rem;
                border-radius: 2rem;
                cursor: pointer;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
                border: none;
                font-size: 0.75rem;
                background-color: var(--primaria);
                color: var(--secundaria);
                margin-top: 1rem;
                align-items: center;
                font-weight: bold;
                font-size: 1rem;

            }

            // &:hover {
            //     background-color: var(--secundaria);
            //     color: var(--primaria);
            //     border: var(--primaria) 1px solid;
            // }

        }

        .mensagem-sucesso {
            width: 100%;
            padding: 2rem;
            // margin-top: 0.5rem;

            color: green;
            font-size: 1rem;
            // margin-top: 1rem;
        }

        .mensagem-erro {
            width: 100%;
            padding: 2rem;
            // margin-top: 0.5rem;

            color: red;
            font-size: 1rem;
            // margin-top: 1rem;
        }


    }
}