<div class="container">

  <section>
      <div class="voltar">
      <svg routerLink="/boas-vindas" width="48" height="48" viewBox="0 0 48 48" fill="none">
          <rect width="48" height="48" rx="24" fill=""/>
          <path d="M30 12L18 24L30 36" stroke="#e9e9e9" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      </div>
  </section>

  <section class="zera-meta">
     <h1>ZeraMeta</h1>
  </section>

  <section class="metas" style="width: 20rem;">
    <ng-container *ngIf="metas.length === 1 && !metas[0].titulo; else metasExistentes">
      <div class="meta">
        <h3>Você ainda não tem metas! Que tal criar a primeira?</h3>
      </div>
    </ng-container>
  
    <ng-template #metasExistentes>
      <div class="meta" *ngFor="let meta of metas">
        <h1 *ngIf="meta.titulo">{{ meta.titulo }}</h1>
        <div class="prog-ext" *ngIf="meta.titulo">
          <div class="prog-int" [style.width.%]="meta.progresso">
            <p class="porcentagem">{{ meta.progresso }}%</p>
          </div>
        </div>
      </div>
    </ng-template>
  </section>

  <section>
      <div class="criar-meta">
        <button (click)="abrirModal()">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
            <rect width="48" height="48" rx="24" fill="#e9e9e9"/>
            <line x1="24" y1="14" x2="24" y2="34" stroke="#0e3553" stroke-width="4" stroke-linecap="round"/>
            <line x1="14" y1="24" x2="34" y2="24" stroke="#0e3553" stroke-width="4" stroke-linecap="round"/>
          </svg>
        </button>
      </div>
  </section> 

  <section>
      <div class="fundo-modal" *ngIf="showFundoModal">
        <div *ngIf="showModal" class="modal">
          <div class="modal-content">
            <h2>Criar nova meta</h2>
            <p>Título</p>
            <input class="input" [(ngModel)]="novaMeta.titulo" placeholder="Perder 10Kg">
            <p>Prazo</p>
            <input class="input" [(ngModel)]="novaMeta.prazo" placeholder="3 meses">
            <p>Categoria</p>
            <select class="input" [(ngModel)]="novaMeta.categoria">
              <option *ngFor="let categoria of categoriaOptions" [value]="categoria">{{ categoria }}</option>
            </select>
            <p>Prioridade</p>
            <select class="input" [(ngModel)]="novaMeta.prioridade">
              <option *ngFor="let prioridade of prioridadeOptions" [value]="prioridade">{{ prioridade }}</option>
            </select>
            <p>Status</p>
            <select class="input" [(ngModel)]="novaMeta.status">
              <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
            </select>
            <p>Progresso</p>
            <div class="progresso-container">
              <input type="range" min="0" max="100" [(ngModel)]="novaMeta.progresso" class="progresso-slider" [ngStyle]="{'background': 'linear-gradient(to right, var(--primaria) ' + novaMeta.progresso + '%, #ddd ' + novaMeta.progresso + '%)'}">
              <span class="progresso-valor">{{ novaMeta.progresso }}%</span>
            </div>

              <!-- <input type="range" min="0" max="100" value="10"> -->
            
            <p>Descrição</p>
            <textarea class="input" [(ngModel)]="novaMeta.descricao" placeholder="Fazer academia 3x por semana e dieta para perder 3KG+ por mês."></textarea>
            
            <div class="toggles-container">
              <div class="toggle-item">
                <p>Criar mini-metas?</p>
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="novaMeta.criarMiniMetas">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="toggle-item">
                <p>Enviar lembrete?</p>
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="novaMeta.enviarLembrete">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="botoes">
              
              <button class="salvar" (click)="salvarMeta()">Salvar</button>
              <button class="cancelar" (click)="fecharModal()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
  </section>  
</div>
