
    .conquistas {
        margin-top: 6rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;

        h1{
            font-size: 2rem;
        }  
    }

    .foto-perfil{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
        // border: 1px solid var(--primaria);   
        background-image: url('https://pt.quizur.com/_image?href=https://img.quizur.com/f/img64c609b3f0dc75.65980291.jpg?lastEdited=1690700315&w=600&h=600&f=webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    }


   .nivel{
        // position: fixed;
    // bottom: 2rem;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: var(--secundaria);
    border: 1px solid var(--secundaria);
    width: 200px;
    border-radius: 1rem;
    padding: 1.5rem;
    // margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
   }

   .button-compartilhar{
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
        margin-bottom: 1rem;

    }

   .compartilhar{
        // margin-bottom: 1rem;
   }

   li{
    // margin-bottom: 1rem;
    border-bottom: 1px solid var(--primaria);
    background-color: var(--secundaria);
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
   }