<div class="container">

  <section>
      <div class="icone-zera-meta">
        <svg routerLink="/menu" width="60" height="60" viewBox="0 0 48 48" fill="none">
          <circle cx="24" cy="32" r="10" fill="#0e3553"/>
          <circle cx="24" cy="32" r="7" fill="#e9e9e9"/>
          <polygon points="24,8 18,24 30,24" fill="#0e3553"/>
        </svg>
      </div>
  </section>

    <section>
        <div class="config">
            <svg routerLink="/configuracoes" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#e9e9e9">
            <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
            </svg>
        </div>
    </section>


    <section class="conquistas">
      <h1>Conquistas</h1>
    </section>

    <!-- <div class="foto-perfil">
    </div> -->

    <section>       
        <div class="nivel">
          <h1>Nível 1</h1>
          <p style="font-weight: bold;">🏅 Novato</p>
          <p>100 XP</p>        
        </div>
    </section>

    <button class="button-compartilhar" (click)="compartilharConquista()">
      <section class="compartilhar">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#0e3553" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="18" cy="5" r="3"></circle>
      <circle cx="6" cy="12" r="3"></circle>
      <circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
      </svg>
      </section>
    </button>

    <section>
        <ul>
          <li>⭐ Focado  - 1.000 XP</li>
          <li>🔥 Confiante  - 5.000 XP</li>
          <li>💪 Determinado  - 15.000 XP</li>
        </ul>
    </section>

    <section>
      <div class="legenda">
        <p>Criar meta = 100 XP</p>
        <p>Atingir 25% = 250 XP</p>
        <p>Atingir 50% = 500 XP</p>
        <p>Atingir 75% = 750 XP</p>
        <p>Completar meta = 1000 XP</p>
        <p style="font-weight: bold;">100 XP = 1 nivel</p>
      </div>
    </section>

    <!-- <section>
        <h3>Metas</h3>
        <ul>
          <li>Baixa - 5.000 XP</li>
          <li>Média - 15.000 XP</li>
          <li>Alta - 45.000 XP</li>
        </ul>
    </section> -->

    <div class="comprar-xp">
      <p>Comprar XP</p>
    </div>

  </div>
  
